*.env
__pycache__/
*.pyc
*.pyo
*.pyd
src/__pycache__/
*.log
*.sqlite3
.DS_Store
.vscode/
.idea/
*.bak
*.swp
*.tmp
*.mp4
*.avi
*.mkv
*.mov
*.flv
*.webm
*.wav
*.mp3
*.aac
*.ogg
*.flac
*.srt
*.vtt
*.json
*.yaml
*.yml
*.lock
*.cache
*.tar.gz
*.zip
*.whl
*.egg-info/
node_modules/
dist/
build/
*.egg
.venv/
